
.pagina-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(222, 240, 144);
   
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex; 
    align-items: center; /* Centraliza o logo verticalmente */
    justify-content: flex-start; /* Garante que fique na esquerda */
}

@media (max-width: 500px) {
    header {
        justify-content: center;  /*ficando centralizado para telas pequenas*/
    }
}
.nome-site{
    border-style: groove;
    border-color: rgb(0, 0, 0);
    padding: 10px 2px;
    width: 290px;
    border-radius: 20px;
    text-align: center;
    
    color: rgb(0, 0, 0)
} 
body{
    background-image: url("./fundo_pagina.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; /* preenccher*/
    padding: 0;
    margin: 0;
    text-align: center;
     min-height: 100vh;      /* garante que o body ocupa NO MÍNIMO a altura da tela toda */
    display: flex;
    flex-direction: column; /* empilha header, main, footer verticalmente */
}

footer{
    background-color: rgb(222, 240, 144);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
footer a {
    color: rgb(0, 0, 0);  
    text-decoration: none;      /*Tirando o sublinhado dos links */
}

main{
    flex: 1; /* empurrando footer para o final*/
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.colunas{
    background-color: rgb(253, 253, 253);
    justify-content: center;
    width: 30%;
    display: inline;
     min-width: 280px;
    border-radius: 8px;
    margin: 20px auto;
    border-color: rgb(8, 8, 8);
    border-style: groove;
}
@media (max-width: 900px) {
    .colunas {
        width: 90%; 
    }
}
.tarefa{
    background-color: rgb(222, 240, 144);
    border-radius: 8px;
    border-style: groove;
     border-color: rgb(8, 8, 8);
    margin: 30px ;
    padding: 10px 20px;
    cursor: pointer;
   
    
    
}
/* Como temos apena um tipo de input para titulo e descrição nao crie uma classe para esses e usso apenas */
input {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: 100%;
  text-align: center;
  padding: 2px
}
button{
  border: none;
 
  
  background: transparent;
    justify-content: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
 
  
}
.seta{
    
  
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
 justify-content: center;
  padding: 4px
}